@model HomeTeamWebSite.Models.Partite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquadraCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquadraCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquadraOspite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquadraOspite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPartita }) |
    @Html.ActionLink("Back to List", "Index")
</p>
