
@model HomeTeamWebSite.Models.Utenti

@{
    ViewBag.Title = "Login";
}




@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-white bg-opacity-75 p-3 rounded-4">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-warning fw-bold " })

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2 text-dark fw-bold fs-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control fw-bold" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-warning fw-bold  bg-dark bg-opacity-75 rounded-pill" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Psw, htmlAttributes: new { @class = "control-label col-md-2 text-dark fw-bold fs-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Psw, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Psw, "", new { @class = "text-warning fw-bold bg-dark bg-opacity-75 rounded-pill " })
            </div>
        </div>






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-end">
                <input type="submit" value="Gon On" class="btnCompletaForm mt-2" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
